[Unit]
Description=Control signal server
#After=network.target
StartLimitIntervalSec=0

[Service]
#ExecStart=sh /home/maxbaraitsersmith/Type/DC/4_summer_2025/ants/ars_electronica/arselectronica2025-home/control_signal_server/control_signal_server.sh
ExecStart=sh /home/maxbaraitsersmith/Desktop/arselectronica2025-home/control_signal_server/control_signal_server.sh
#ExecStartPre=
#ExecStartPost=
#ExecStop=
#ExecReload=

Type=simple
Restart=always
RestartSec=5s
User=root
#User=maxbaraitsersmith

[Install]
WantedBy=multi-user.target