[Unit]
Description=Video stream server
#After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=bash /home/maxbaraitsersmith/Desktop/arselectronica2025-home/streaming_server/streaming_server_2.bash
#ExecStartPre=
#ExecStartPost=
#ExecStop=
#ExecReload=

Type=simple
Restart=always
RestartSec=30s
User=root
#User=maxbaraitsersmith

[Install]
WantedBy=multi-user.target